In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv("air_crash.csv")
df.head(2)

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4967 entries, 0 to 4966
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   4967 non-null   object
 1   Time                   3457 non-null   object
 2   Location               4963 non-null   object
 3   Operator               4957 non-null   object
 4   Flight #               1315 non-null   object
 5   Route                  4192 non-null   object
 6   AC Type                4952 non-null   object
 7   Registration           4694 non-null   object
 8   cn/ln                  4299 non-null   object
 9   Aboard                 4949 non-null   float64
 10  Aboard Passangers      4738 non-null   float64
 11  Aboard Crew            4741 non-null   float64
 12  Fatalities             4959 non-null   float64
 13  Fatalities Passangers  4725 non-null   float64
 14  Fatalities Crew        4726 non-null   float64
 15  Ground                 4926 non-null   float64
 16  Summary                4903 non-null   object
dtypes: float64(7), object(10)
memory usage: 659.8+ KB

### 2 ข้อมูลนี้มีกี่แถว กี่คอลัมน์

In [5]:
df.shape

(4967, 17)

### 3 คอลัมน์ Location มีจำนวนข้อมูลกี่ค่า ไม่นับค่าว่าง

In [8]:
df['Location'].notna().sum()

np.int64(4963)

### 4 แสดงข้อมูลแถวเบอร์ 25 - 30

In [10]:
df.iloc[25:31, :]

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
25,07/19/1919,NaN,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,82,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The mail plane crashed under unknown circumsta...
26,07/21/1919,16:55,"Chicago, Illinois",Wingfoot Air Express Goodyear Tire,NaN,Shuttle,FD Type Dirigible,NaN,NaN,NaN,NaN,NaN,3.0,2.0,1.0,10.0,"The dirigible, cruising at 1,200 ft. caught f..."
27,08/02/1919,NaN,"Verona, Italy",Caproni Company,NaN,Venice Taliedo,Caproni Ca.48,NaN,NaN,14.0,12.0,2.0,14.0,12.0,2.0,0.0,As the plane was passing over Verona the wings...
28,10/02/1919,NaN,"Newcastle, England",Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,NaN
29,10/14/1919,NaN,"Cantonsville, Maryland",US Aerial Mail Service,NaN,NaN,Curtiss R-4LM,32,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The pilot was performing a mail flight to Balt...
30,10/20/1919,NaN,"English Channel off Forkstone, Kent",Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,G-EAHG,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Crashed into the sea while attempting to land ...

### 5 แสดงข้อมูล 5 แถวแรกเฉพาะคอลัมน์ Date, Operator, AC Type

In [12]:
df.loc[:4, ["Date", "Operator", "AC Type"]]

         Date                Operator                 AC Type
0  09/17/1908    Military - U.S. Army        Wright Flyer III
1  09/07/1909                     NaN          Wright Byplane
2  07/12/1912    Military - U.S. Navy               Dirigible
3  08/06/1913                 Private        Curtiss seaplane
4  09/09/1913  Military - German Navy  Zeppelin L-1 (airship)

### 6 แสดงอุบัติเหตุที่มีคนตาย (Fatalities) เกิน 500 คน

In [13]:
df.loc[df['Fatalities'] > 500]

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
2885,03/27/1977,17:07,"Tenerife, Canary Islands",Pan American World Airways / KLM,1736/4805,Tenerife - Las Palmas / Tenerife - Las Palmas,Boeing B-747-121 / Boeing B-747-206B,N736PA/PH-BUF,19643/11 / 20400/157,644.0,614.0,30.0,583.0,560.0,23.0,0.0,Both aircraft were diverted to Tenerife becaus...
3324,08/12/1985,18:56,"Mt. Osutaka, near Ueno Village, Japan",Japan Air Lines,123,Tokyo - Osaka,Boeing B-747-SR46,JA8119,20783/230,524.0,509.0,15.0,520.0,505.0,15.0,0.0,The aircraft suffered an aft pressure bulkhead...

### 7 อุบัติเหตุเครื่องบินตกที่เกิดขึ้นในประเทศไทยมีกี่ครั้ง

In [25]:
df['Location'].str.contains("thailand", case=False).sum()

22

### 8 แสดงข้อมูลเครื่องบินตกในประเทศไทย

In [ ]:
df.loc[df['Location'].str.contains("thailand", case=False).fillna(False)]

C:\Users\momoriouht\AppData\Local\Temp\ipykernel_20200\199708904.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.loc[df['Location'].str.contains("thailand", case=False).fillna(False)]

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
271,12/06/1931,05:45,"Bangkok, Thailand",KLM Royal Dutch Airlines,NaN,Djakarta - Amsterdam - Bangkok - Rangoon (Burma),Fokker F-VIIb-3M,PH-AFO,5226,7.0,3.0,4.0,5.0,2.0,3.0,0.0,Take off was made with the emergency hatch i...
1220,01/13/1951,NaN,"Mt. Bukit, Besar,Thailand",Air Carriers,NaN,Butterworth - Kota Bharu,Douglas DC-3,VR-HEP,15782/32530,10.0,7.0,3.0,10.0,7.0,3.0,0.0,Crashed into Bukit Besar Mountain while en route.
1560,03/31/1956,NaN,"Korat ,Thailand",Military - Royal Thai Air Force,NaN,Korat AFB - Bangkok,Douglas C-47A,L2-14/96,12667,19.0,17.0,2.0,19.0,17.0,2.0,0.0,Crashed shortly after taking off.
1967,07/19/1962,15:45,"Near Bangkok, Thailand",United Arab Airlines,869,Hong Kong - Bangkok,de Havilland Comet 4C,SU-AMW,06464,26.0,18.0,8.0,26.0,18.0,8.0,0.0,Crashed into a jungle on the side of a mountai...
2102,09/04/1964,19:00,"Near Vaong Nong, Thailand",Military - Royal Thai Air Force,NaN,Khoke Kathiam - Vaong Nong,Douglas C-47,NaN,NaN,34.0,NaN,NaN,28.0,NaN,NaN,0.0,Struck a tree and crashed during a nighttime l...
2299,12/25/1967,13:49,"Chiang Mai, Thailand",Thai Airways,002,Bangkok - Chiang Mai,Douglas DC-3,HS-TDH,9189,31.0,28.0,3.0,4.0,2.0,2.0,0.0,"During poor weather and after a flyby, the pil..."
2784,05/13/1975,21:15,"Near Sakon Nakhon, Thailand",Military - U.S. Air Force,NaN,Nakhom Phanom AB - Utapao AB,Sikorsky CH-53C (helicopter),68-10933,NaN,23.0,19.0,4.0,23.0,19.0,4.0,0.0,The copter was observed in an uncontrollable d...
2871,12/25/1976,03:45,"Near Bangkok, Thailand",EgyptAir,864,Cairo - Bangkok,Boeing B-707-366C,SU-AXA,20763,53.0,44.0,9.0,53.0,44.0,9.0,19.0,The aircraft crashed into an industrial area d...
3066,04/27/1980,06:55,"Don Muang, Thailand",Thai Airways,231,Khon Kaen - Bangkok,Hawker Siddeley HS-748-2,HS-THB,1568,53.0,49.0,4.0,44.0,40.0,4.0,0.0,"The aircraft entered a thunderstorm, was caugh..."
3162,04/30/1982,NaN,Gulf of Thailand,Okanagan Helicopters,NaN,NaN,Sikorsky S-76,C-GIMF,760038,13.0,NaN,NaN,13.0,NaN,NaN,0.0,The helicopter crashed under unknown circumsta...
3211,05/05/1983,10:20,"Near Ban Ta Khli, Thailand",Military - Royal Thai Air Force,NaN,NaN,Fairchild C-123K,L4K-12/18,20227,30.0,24.0,6.0,30.0,24.0,6.0,0.0,The aircraft was preparing to land at Ban ta K...
3310,04/15/1985,23:30,"Near Phuket, Thailand",Thai Airways,NaN,Bangkok - Phuket,Boeing B-737-200,HS-TBB,21810/604,11.0,4.0,7.0,11.0,4.0,7.0,0.0,The aircraft hit high ground during good weath...
3430,08/31/1987,15:36,"Off Ko Phuket, Thailand",Thai Airways,365,Hat Yai - Phuket,Boeing B-737-2P5,HS-TBC,22267/685,83.0,74.0,9.0,83.0,74.0,9.0,0.0,The aircraft stalled and crashed into the ocea...
3494,09/09/1988,11:38,"Bangkok, Thailand",Hang Khong (Vietnam),831,Hanoi - Bangkok,Tupolev TU-134A,VN-A102,60925,90.0,84.0,6.0,76.0,73.0,3.0,0.0,The aircraft crashed during approach in heavy ...
3655,11/21/1990,11:15,"Koh Samui, Thailand",Bangkok Airways,125,Bangkok - Koh Samui,de Havilland Canada DHC-8-103,OB-1358,T210-63675,38.0,33.0,5.0,38.0,33.0,5.0,0.0,"After receiving a runway change, the crew exec..."
3686,05/26/1991,23:17,"Near Ban Nong Rong, Thailand",Lauda Air,004,"Bangkok - Wien, Austria",Boeing B-767-3Z9ER,OE-LAV,24628/283,223.0,213.0,10.0,223.0,213.0,10.0,0.0,Twelve minutes after takeoff the crew received...
4163,12/11/1998,19:10,"Near Surat Thani, Thailand",Thai Airways,261,Bangkok - Surat Thani,Airbus A-310-204,HS-TIA,415,146.0,132.0,14.0,102.0,91.0,11.0,0.0,The plane crashed 2 miles southwest of Surat T...
4304,03/03/2001,14:48,"Bangkok, Thailand",Thai Airways,114,Bangkok - Chiang Mai.,Boeing B-737-4D7,HS-TDC,25321/2113,5.0,0.0,5.0,1.0,0.0,1.0,0.0,The aircraft exploded and caught fire 35 minut...
4632,09/16/2007,15:35,"Phuket, Thailand",One-Two-Go Airlines,269,Bangkok - Phuket,McDonnell Douglas MD-82,HS-OMG,49183/1129,130.0,123.0,7.0,90.0,85.0,5.0,0.0,While landing in heavy rain and strong cross w...
4662,06/20/2008,NaN,"Bannang Sata, Thailand",Military - Thai Army,NaN,NaN,Bell UH-1N,NaN,NaN,10.0,8.0,2.0,10.0,8.0,2.0,0.0,The military helicopter developed a mechanical...
4672,08/06/2008,11:40,"Sunat Tanon, Thailand",Military - Royal Thai Air Force,NaN,Betong - ?,Bell Huey UH-1H,NaN,NaN,10.0,8.0,2.0,10.0,8.0,2.0,0.0,The helicopter crashed while ferrying a forens...
4720,08/04/2009,14:30,"Koh Samui, Thailand",Bangkok Airlines,226,Karabi - Koh Samui,ATR-72-212A,HS-PGL,670,72.0,68.0,4.0,1.0,0.0,1.0,0.0,The plane skidded off the runway and collided ...

### 9 แสดงอุบัติเหตุที่เกิดดกับเครื่องบินโดยสารที่มีผู้โดยสาร (Abord Passengers) มากกว่า 100 คน <br/>
และจำนวนลูกเรือ (Fatalities Crew) สูงกว่าจำนวนผู้โดยสารที่เสียชีวิต (Fatalities Passsengers)

In [30]:
df.loc[(df['Aboard Passangers'] > 100) & (df['Fatalities Crew'] > df['Fatalities Passangers'])]

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary
3915,11/22/1994,22:03,"Bridgeton, Missouri",Trans World Airlines / Private,NaN,NaN,McDonnell Douglas DC-9-82 / Cessna 441,N954U/N411KM,49426 / 0196,142.0,132.0,10.0,2.0,0.0,2.0,0.0,"During its takeoff roll, the DC-9 collided wit..."
4201,07/23/1999,11:25,"Tokyo, Japan",All Nippon Airways,61,"Tokyo, Japan - Chitose, Japan",Boeing B-747,JA8966,27442/1066,517.0,503.0,14.0,1.0,0.0,1.0,0.0,Two minutes after taking off from Haneda Airpo...
4226,12/24/1999,NaN,"Amritsar, India / Kandahar, Afghanistan",Indian Airlines,814,Kathmandu - New Delhi,Airbus A300B2-101,VT-EDW,036,189.0,174.0,15.0,1.0,0.0,1.0,0.0,The plane was hijacked and subsequently flown ...
4291,11/20/2000,12:22,"Miami, Florida",American Airlines,NaN,"Miami, FL - Port au Prince",Airbus A300-600R,N14056,463,114.0,105.0,9.0,1.0,0.0,1.0,0.0,"After climbing through 16,000 ft. the crew des..."
4718,07/24/2009,18:20,"Mashad, Iran",Aria Airlines,1525,Tehran - Mashad,Ilyushin Il-62M,UP-16208,1591525/257,153.0,138.0,15.0,16.0,3.0,13.0,0.0,"While attempting to land, the plane skidded of..."

### 10 จำนวนคนตายทั้งหมดจากอุบัติเหตุเครื่องบินตกคือเท่าไหร่

In [31]:
df['Fatalities'].sum()

np.float64(110775.0)

### 11 แสดงอุบัติเหตุที่มีคนตายรวมสูงสุด

In [36]:
df.loc[df['Fatalities'] == max(df['Fatalities'])]

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary,Fatalities Percent
2885,03/27/1977,17:07,"Tenerife, Canary Islands",Pan American World Airways / KLM,1736/4805,Tenerife - Las Palmas / Tenerife - Las Palmas,Boeing B-747-121 / Boeing B-747-206B,N736PA/PH-BUF,19643/11 / 20400/157,644.0,614.0,30.0,583.0,560.0,23.0,0.0,Both aircraft were diverted to Tenerife becaus...,90.52795

### 12 สร้าง Column ใหม่ที่ชื่อว่า "Fatalities Percent"<br/>
แสดงสัดส่วนจำนวนคนตายรวมต่อจำนวนคนในเครื่องบิน (Abord) และแสดง 5 แถวแรกของตารางนี้

In [32]:
df['Fatalities Percent'] = (df['Fatalities'] / df['Aboard']) * 100
df.head()

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary,Fatalities Percent
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly...",50.0
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",NaN,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...,100.0
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...,100.0
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...,100.0
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...,70.0

### 13 แสดงข้อมูล 5 แถวแรกของอุบัติเหตุที่มีคนตายมากที่สุดเรียงจากมากไปน้อย

In [34]:
df1 = df.sort_values('Fatalities', ascending=False)
df1.head(5)

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary,Fatalities Percent
2885,03/27/1977,17:07,"Tenerife, Canary Islands",Pan American World Airways / KLM,1736/4805,Tenerife - Las Palmas / Tenerife - Las Palmas,Boeing B-747-121 / Boeing B-747-206B,N736PA/PH-BUF,19643/11 / 20400/157,644.0,614.0,30.0,583.0,560.0,23.0,0.0,Both aircraft were diverted to Tenerife becaus...,90.527950
3324,08/12/1985,18:56,"Mt. Osutaka, near Ueno Village, Japan",Japan Air Lines,123,Tokyo - Osaka,Boeing B-747-SR46,JA8119,20783/230,524.0,509.0,15.0,520.0,505.0,15.0,0.0,The aircraft suffered an aft pressure bulkhead...,99.236641
4039,11/12/1996,18:40,"Near Charkhi Dadri, India",Saudi Arabian Airlines / Kazakhstan Airlines,763/1907,New Delhi - Dhahran / Chimkent - New Delhi,Boeing B-747-168B / Ilyushin IL-76TD,HZ-AIH/UN-76435,22748/555/1023413428,349.0,316.0,33.0,349.0,316.0,33.0,0.0,Midair collision 17 km W of New Delhi. The Sa...,100.000000
2720,03/03/1974,11:41,"Near Ermenonville, France",Turkish Airlines (THY),981,Paris - London,McDonnell Douglas DC-10-10,TC-JAV,46704/29,346.0,335.0,11.0,346.0,335.0,11.0,0.0,The aircraft crashed shortly after takeoff fro...,100.000000
3320,06/23/1985,07:15,"Atlantic Ocean, 110 miles West of Ireland",Air India,182,Montreal - London,Boeing B-747-237B,VT-EFO,21473/330,329.0,307.0,22.0,329.0,307.0,22.0,0.0,The aircraft broke up in flight and crashed in...,100.000000

### 14 แสดงข้อมูล 5 แถวแรกของอุบัติเหตุที่มี Fatalities Percent สูงที่สุดเรียงจากมากไปน้อย<br/>
ถ้าเท่ากันให้เรียงจากจำนวนคนในเครื่องจากมากไปน้อย

In [39]:
df14 = df.sort_values(['Fatalities Percent', 'Aboard'], ascending=[False, False])
df14.head(5)

,Date,Time,Location,Operator,Flight #,Route,AC Type,Registration,cn/ln,Aboard,Aboard Passangers,Aboard Crew,Fatalities,Fatalities Passangers,Fatalities Crew,Ground,Summary,Fatalities Percent
4039,11/12/1996,18:40,"Near Charkhi Dadri, India",Saudi Arabian Airlines / Kazakhstan Airlines,763/1907,New Delhi - Dhahran / Chimkent - New Delhi,Boeing B-747-168B / Ilyushin IL-76TD,HZ-AIH/UN-76435,22748/555/1023413428,349.0,316.0,33.0,349.0,316.0,33.0,0.0,Midair collision 17 km W of New Delhi. The Sa...,100.0
2720,03/03/1974,11:41,"Near Ermenonville, France",Turkish Airlines (THY),981,Paris - London,McDonnell Douglas DC-10-10,TC-JAV,46704/29,346.0,335.0,11.0,346.0,335.0,11.0,0.0,The aircraft crashed shortly after takeoff fro...,100.0
3320,06/23/1985,07:15,"Atlantic Ocean, 110 miles West of Ireland",Air India,182,Montreal - London,Boeing B-747-237B,VT-EFO,21473/330,329.0,307.0,22.0,329.0,307.0,22.0,0.0,The aircraft broke up in flight and crashed in...,100.0
3076,08/19/1980,19:08,"Riyadh, Saudi Arabia",Saudi Arabian Airlines,163,Riyadh - Jeddah,Lockheed 1011-200 TriStar,HZ-AHK,1169,301.0,287.0,14.0,301.0,287.0,14.0,0.0,The flight experienced a fire in the aft cargo...,100.0
4876,07/17/2014,16:19,"Hrabove, Ukraine",Malaysia Airlines,17,Amsterdam - Kuala Lumpur,Boeing 777-2H6ER,9M-MRD,28411/84,298.0,283.0,15.0,298.0,283.0,15.0,0.0,A Boeing 777-200 airliner operating as Malays...,100.0

### 15 คัดเลือก 7 สายการบิน (Operator)
ดังนี้ ออกมา ['All Nippon Airways', 'EVA Air', 'Scaandinavian Airlines (SAS)', 'Singapore Airlines', 'Swisssair','Thai Airways', 'United Air Lines']
ซึ่งชื่อทั้งหมดอยู่ใน star7 csv แล้วตั้งชื่อว่า star_7 แล้วแสดงข้อมูล

In [40]:
star_7 = pd.read_csv('star_alliance_7.csv')
star_7

                 Star Alliance
0           All Nippon Airways
1                      EVA Air
2  Scandinavian Airlines (SAS)
3           Singapore Airlines
4                     Swissair
5                 Thai Airways
6             United Air Lines

### 16 สรุปรวมจำนวนอุบัติเหตุที่เกิดขึ้นของแต่ละสายการบินใน star_7

In [55]:
df.loc[df['Operator'].isin(star_7['Star Alliance'])].groupby('Operator').size()

Operator
All Nippon Airways              6
Scandinavian Airlines (SAS)     6
Singapore Airlines              1
Swissair                       11
Thai Airways                    7
United Air Lines               44
dtype: int64